@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
}

body {
  margin: 0;
  box-sizing: border-box;
}

.slick-list,
.slick-track,
.slick-slice .weather-icon {
  /* position: relative;
  display: block; */
  height: 100%;
}
